@model AgentDetailsDTO

@{
    ViewData["Title"] = "Detalles Agente";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalles Agente</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Default" asp-action="Index">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Agents" asp-action="Index">Agentes</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Perfil</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Detalles de perfil</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        @*<img alt="image" class="img-fluid" src="~/Images/profile_big.jpg">*@
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>@Model.UserName</strong></h4>
                        <p><i class="fa fa-envelope"></i> @Model.UserName</p>
                        <p><i class="fa fa-phone"></i> @Model.Phone</p>
                        @*<h5>
                                About me
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-md-4">
                                    <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>169</strong> Posts</h5>
                                </div>
                                <div class="col-md-4">
                                    <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>28</strong> Following</h5>
                                </div>
                                <div class="col-md-4">
                                    <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                    <h5><strong>240</strong> Followers</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h3>Ventas</h3>
                            </div>
                            <div class="col-5 text-left">
                                <span> Mes Actual </span>
                                <h2 class="font-bold">$ @Model.SalesCurrentMonth</h2>
                            </div>
                            <div class="col-2 text-center">
                                <i class="fa fa-trophy fa-5x"></i>
                            </div>
                            <div class="col-5 text-right">
                                <span> Mes Anterior </span>
                                <h2 class="font-bold">$ @Model.SalesLastMonth</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Recargas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="feed-activity-list">
                            @foreach (RecargaDetail item in Model.Recargas)
                            {
                                <div class="feed-element">
                                    <div  class="float-left">
                                        
                                    </div>
                                    <div class="media-body ">
                                        <small class="float-right text-navy">@item.FechaAsString</small>
                                        A: <strong>@item.Client</strong> por el valor de <strong>$ @item.Monto</strong>. <br>
                                        @*<small class="text-muted">Today 4:21 pm - 12.06.2014</small>*@
                                        @*<div class="actions">
                                            <a href="" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                            <a href="" class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                        </div>*@
                                    </div>
                                </div>
                            }
                            
                        </div>
                        @*<button class="btn btn-primary btn-block m disabled"><i class="fa fa-arrow-down"></i> Mostrar Más</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <environment names="Development">
        <script src="~/lib/peity/jquery.peity.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/peity/jquery.peity.min.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {

            $("span.pie").peity("pie", {
                fill: ['#1ab394', '#d7d7d7', '#ffffff']
            })

            $(".line").peity("line", {
                fill: '#1ab394',
                stroke: '#169c81',
            })

            $(".bar").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"]
            })


        });</script>
}