@model ClientDashboard
@{
    ViewData["Title"] = "Inicio";
    CuentaDTO ct = Model.Cnt;
    EstadisticaDiario diario = Model.Diario;
    EstadisticaSemanal semanal = Model.Semanal;
    EstadisticaMensual mensual = Model.Mensual;
    OpcionesDTO opciones = Model.Opciones;
    PrediccionIndicadores prediccion = Model.Prediccion;
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/common/switch.min.css" asp-append-version="true" />
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap-tour/css/bootstrap-tour-standalone.css" />
    </environment>
}

<div class="wrapper wrapper-content">
    <!--Bag de Recorrido Inicial-->
    @if (!Context.Request.Cookies.ContainsKey("TourDefault"))
    {
        <div id="TourDiv" class="row">
            <div class="col-lg-12">
                <div class="widget blue-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-binoculars fa-4x"></i>
                        <h1 class="m-xs">Recorrido Inicial</h1>
                        <h3 class="font-bold no-margins">
                            Conozca nuestro producto!
                        </h3>
                        <small>Tutorial interactivo</small>
                        <div class=" m-t-sm">
                            <a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Iniciar Recorrido</a>
                        </div>
                        <div class=" m-t-sm">
                            <button class="btn btn-outline-warning" id="HideTour">No volver a mostrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row" id="IndicadoresEconomicos">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">Hoy</span>
                    <h5>Total Dario</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@diario.Total</h1>
                    <div class="stat-percent font-bold text-success"><i class="fa fa-dollar"></i> @diario.Gasto</div>
                    <small>Anuncios Publicados</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-info float-right">Semanal</span>
                    <h5>Últimos 7 días</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@semanal.Total</h1>
                    <div class="stat-percent font-bold text-info"><i class="fa fa-dollar"></i> @semanal.Gasto</div>
                    <small>@semanal.Inicio.ToShortDateString() - @semanal.Fin.ToShortDateString()</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">Mensual</span>
                    <h5>Mes actual</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@mensual.Total</h1>
                    <div class="stat-percent font-bold text-navy"><i class="fa fa-dollar"></i>@mensual.Gasto</div>
                    <small>Anuncios Publicados</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-muted">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-inverse float-right">Actual</span>
                    <h5>Saldo</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins text-dark">$ @ct.Saldo </h1>
                    <div class="stat-percent font-bold ">@ct.LastUpdate.ToDateTimeString()</div>
                    <small class="text-right">Saldo suficiente para @prediccion.DiasDisponible días</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-muted">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-danger float-right">Valor Aproximado</span>
                    <h5>Gasto Esperado</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">$ @prediccion.GastoAproximado </h1>
                    <div class="stat-percent font-bold text-info">@DateTime.Now.ToUtcCuba().ToDateString() @*<i class="fa fa-calendar"></i>*@</div>
                    <small>Próximos @prediccion.DiasRestantes días&nbsp;</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" id="ControlTemporizadores">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Estado de Temporizadores</h5>
                </div>
                <div class="ibox-content">
                    <div id="switch">
                        <partial name="~/Areas/Client/Views/Common/_onoffswitch.cshtml" for="@opciones.TemporizadoresUserEnable" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" id="AccesoGrupo">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Grupos</h5>
                </div>
                <div class="ibox-content">
                    <a asp-area="Client" asp-controller="Grupo" asp-action="Index" class="btn btn-primary">Ir a Grupos</a>
                    <h5>Administre sus anuncios y temporizadores.</h5>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Areas/Common/Views/_GraficosEstadisticos.cshtml" model="@Model.Diario.Gasto" />
</div>

<form id="temporizadores-form" method="post" role="form"
      asp-area="Client" asp-controller="Default" asp-action="TemporizadorUserEnable"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onAjaxBegin"
      data-ajax-success="onAjaxSuccess"
      data-ajax-failure="onAjaxError"
      data-ajax-complete="onAjaxCompleted"
      data-ajax-update="#switch"></form>

@section Scripts {
    <environment names="Development">
        <script src="~/js/Client/Default/index.js"></script>
        <script src="~/js/common/grafico_estadistico.js"></script>
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.js"></script>
        <script src="~/lib/bootstrap-tour/js/bootstrap-tour-standalone.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Client/Default/index.min.js"></script>
        <script src="~/js/common/grafico_estadistico.min.js"></script>
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.min.js"></script>
        <script src="~/lib/bootstrap-tour/js/bootstrap-tour-standalone.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        function InitializeDiario() {
            setChartData(@diario.Gasto, @Html.Raw(diario.ToStringLabels()), @diario.ToStringGastos(), @diario.ToStringAnuncios());
        }

        function InitializeSemanal() {
            setChartData(@semanal.Gasto, @semanal.ToStringLabels(), @semanal.ToStringGastos(), @semanal.ToStringAnuncios());
        }

        function InitializeMensual() {
            setChartData(@mensual.Gasto, @mensual.ToStringLabels(), @mensual.ToStringGastos(), @mensual.ToStringAnuncios());
        }

        @*function InitializeAnual() {
            setChartData(@diario.Gasto, @diario.ToStringLabels(), @diario.ToStringGastos(), @diario.ToStringAnuncios());
        }*@
    </script>
}
