@model ClientDashboard
@{
    ViewData["Title"] = "Dashboard";
    CuentaDTO ct = Model.Cnt;
    EstadisticaDiario diario = Model.Diario;
    EstadisticaSemanal semanal = Model.Semanal;
    EstadisticaMensual mensual = Model.Mensual;
    OpcionesDTO opciones = Model.Opciones;
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/common/switch.min.css" asp-append-version="true" />
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap-tour/css/bootstrap-tour-standalone.css" />
    </environment>
}

<div class="wrapper wrapper-content">
    <!--Bag de Recorrido Inicial-->
    <div class="row">
        <div class="col-lg-12">
            <div class="widget blue-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-binoculars fa-4x"></i>
                    <h1 class="m-xs">Recorrido Inicial</h1>
                    <h3 class="font-bold no-margins">
                        Conozca nuestro producto!
                    </h3>
                    <small>Tutorial interactivo</small>
                    <div class=" m-t-sm">
                        <a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Iniciar Recorrido</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="IndicadoresEconomicos">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">Hoy</span>
                    <h5>Total Dario</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@diario.Total</h1>
                    <div class="stat-percent font-bold text-success"><i class="fa fa-dollar"></i> @diario.Gasto</div>
                    <small>Anuncios Publicados</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-info float-right">Semanal</span>
                    <h5>Últimos 7 días</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@semanal.Total</h1>
                    <div class="stat-percent font-bold text-info"><i class="fa fa-dollar"></i> @semanal.Gasto</div>
                    <small>@semanal.Inicio.ToShortDateString() - @semanal.Fin.ToShortDateString()</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">Mensual</span>
                    <h5>Mes actual</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@mensual.Total</h1>
                    <div class="stat-percent font-bold text-navy"><i class="fa fa-dollar"></i>@mensual.Gasto</div>
                    <small>Anuncios Publicados</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-muted">
            <div class="ibox ">
                <div class="ibox-title">
                    @*<span class="label label-danger float-right">Low value</span>*@
                    <h5>Saldo</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">$ @ct.Saldo </h1>
                    @*<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>*@
                    <small>@ct.LastUpdate.ToDateTimeString()</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" id="ControlTemporizadores">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Estado de Temporizadores</h5>
                </div>
                <div class="ibox-content">
                    <div id="switch">
                        @Html.Partial("~/Areas/Common/Views/onoffswitch.cshtml", opciones.TemporizadoresUserEnable)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" id="AccesoGrupo">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Añadir Grupos</h5>
                </div>
                <div class="ibox-content">
                    <a asp-area="Client" asp-controller="Grupo" asp-action="Index" class="btn btn-primary">Ir a Grupos</a>
                    <h5>Administre sus anuncios y temporizadores.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-12" id="GraficosEstadisticos">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Resumen Detallado</h5>
                        <div class="float-right">
                            <div class="btn-group estadistica" id="SelectorGraficosEstadisticos">
                                <button id="Diario" type="button" class="btn btn-xs btn-white active">Hoy</button>
                                <button id="Semanal" type="button" class="btn btn-xs btn-white">Últimos 7 días</button>
                                <button id="Mensual" type="button" class="btn btn-xs btn-white">Mensual</button>
                                <button id="Anual" type="button" class="btn btn-xs btn-white disabled">Anual</button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <span class="float-right text-right">
                                <small>Average value of sales in the past month in: <strong>United states</strong></small>
                                <br>
                                All sales: 162,862
                            </span>
                            <h1 id="GastoTotalResumen" class="m-b-xs">$ @diario.Gasto</h1>
                            @*<h3 class="font-bold no-margins">
                                    Half-year revenue margin
                                </h3>
                                <small>Sales marketing.</small>*@
                        </div>
                        <div>
                            @*<iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>*@
                            <canvas id="lineChart" height="287" style="display: block; width: 989px; height: 230px;" width="1236"></canvas>
                        </div>
                        <div class="m-t-md">
                            @*<small class="float-right">
                                    <i class="fa fa-clock-o"> </i>
                                    Update on 16.07.2015
                                </small>*@
                            @*<small>
                                    <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
                                </small>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="temporizadores-form" method="post" role="form"
      asp-area="Client" asp-controller="Default" asp-action="TemporizadorUserEnable"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onAjaxBegin"
      data-ajax-success="onAjaxSuccess"
      data-ajax-failure="onAjaxError"
      data-ajax-complete="onAjaxCompleted"
      data-ajax-update="#switch"></form>

@section Scripts {
    <environment names="Development">
        <script src="~/js/Client/Default/index.js"></script>
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.js"></script>
        <script src="~/lib/bootstrap-tour/js/bootstrap-tour-standalone.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Client/Default/index.min.js"></script>
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.min.js"></script>
        <script src="~/lib/bootstrap-tour/js/bootstrap-tour-standalone.min.js" asp-append-version="true"></script>
    </environment>


    <script type="text/javascript">
        $(document).ready(function () {
            InitializeDiario();
        });

        function InitializeDiario() {
            initializeChart(@diario.Gasto, @Html.Raw(diario.ToStringLabels()), @diario.ToStringGastos(), @diario.ToStringAnuncios());
        }

        function InitializeSemanal() {
            initializeChart(@semanal.Gasto, @semanal.ToStringLabels(), @semanal.ToStringGastos(), @semanal.ToStringAnuncios());
        }

        function InitializeMensual() {
            initializeChart(@mensual.Gasto, @mensual.ToStringLabels(), @mensual.ToStringGastos(), @mensual.ToStringAnuncios());
        }

        @*function InitializeAnual() {
            initializeChart(@diario.Gasto, @diario.ToStringLabels(), @diario.ToStringGastos(), @diario.ToStringAnuncios());
        }*@
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            // Instance the tour
            var tour = new Tour({
                steps: [{

                    element: "#IndicadoresEconomicos",
                    title: "Indicadores Económicos",
                    content: "Muestra el resumen de gasto y anuncios publicados.<br>Además muestra el balance actual de su cuenta.",
                    placement: "bottom",
                    backdrop: true,
                    backdropContainer: '#wrapper',
                    onShown: function (tour) {
                        $('body').addClass('tour-open')
                    },
                    onHidden: function (tour) {
                        $('body').removeClass('tour-close')
                    }
                },
                {
                    element: "#ControlTemporizadores",
                    title: "Control de Temporizadores",
                    content: "Permite controlar todos los temporizadores, habilitando&deshabilitando la ejecución de los mismos.",
                    placement: "right",
                    backdrop: true,
                    backdropContainer: '#wrapper',
                    onShown: function (tour) {
                        $('body').addClass('tour-open')
                    },
                    onHidden: function (tour) {
                        $('body').removeClass('tour-close')
                    }
                    },
                    {
                        element: "#AccesoGrupo",
                        title: "Acceso a Grupos",
                        content: "Los grupos están formados por anuncios y temporizadores. La función de los temporizadores es determinar los horarios en que se actualizarán los anuncios.<br><p class=\"text-primary\">En la página Grupos podrá encontrar más información.</p>",
                        placement: "right",
                        backdrop: true,
                        backdropContainer: '#wrapper',
                        onShown: function (tour) {
                            $('body').addClass('tour-open')
                        },
                        onHidden: function (tour) {
                            $('body').removeClass('tour-close')
                        }
                    },
                {
                    element: "#GraficosEstadisticos",
                    title: "Gráficos estadísticos",
                    content: "Permite conocer de forma más detallada y a lo largo del tiempo el consumo del sistema en diferentes intervalos de tiempo.",
                    placement: "top",
                    backdrop: true,
                    backdropContainer: '#wrapper',
                    onShown: function (tour) {
                        $('body').addClass('tour-open')
                    },
                    onHidden: function (tour) {
                        $('body').removeClass('tour-close')
                    }
                },
                {
                    element: "#SelectorGraficosEstadisticos",
                    title: "Selector",
                    content: "Seleccione el intervalo de tiempo del cual desea obtener las estadísticas hoy, últimos 7 días, mensual y anual.",
                    placement: "left",
                    backdrop: true,
                    backdropContainer: '#wrapper',
                    onShown: function (tour) {
                        $('body').addClass('tour-open')
                    },
                    onHidden: function (tour) {
                        $('body').removeClass('tour-close')
                    }
                },
                {
                    element: ".sidebar-collapse",
                    title: "Menú de Navegación",
                    content: "Inicio es la página inicial donde nos encontramos, en Grupos podrá añadir y configurar la publicación de sus anuncios.<br>Explore el resto de los enlaces.",
                    placement: "right",
                    backdrop: true,
                    backdropContainer: '#wrapper',
                    onShown: function (tour) {
                        $('body').addClass('tour-open')
                    },
                    onHidden: function (tour) {
                        $('body').removeClass('tour-close')
                    }
                },
                {
                    element: "#CerrarSesion",
                    title: "Cerrar Sesión",
                    content: "Cuando finalice su trabajo cierre la sesión para mayor seguridad.",
                    placement: "left",
                    backdrop: true,
                    backdropContainer: '#wrapper',
                    onShown: function (tour) {
                        $('body').addClass('tour-open')
                    },
                    onHidden: function (tour) {
                        $('body').removeClass('tour-close')
                    }
                }
                ]
            });

            // Initialize the tour
            tour.init();

            $('.startTour').click(function () {
                tour.restart();

                // Start the tour
                // tour.start();
            })

        });

    </script>
}
