@model PaginationDTO

<!-- pager -->
@if (Model.Pager.EndPage > 1)
{
    <ul class="pagination">
        @if (Model.Pager.CurrentPage > 1)
        {
            <li>
                <a asp-controller="@Model.Controller" asp-action="@Model.Action">Primera</a>
            </li>
            <li>
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@(Model.Pager.CurrentPage - 1)">Ant</a>
            </li>
        }

        @for (int cur = Model.Pager.StartPage; cur <= Model.Pager.EndPage; cur++)
        {
            <li class="@(cur == Model.Pager.CurrentPage ? "active" : "")">
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@cur">@cur</a>
            </li>
        }

        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
            <li>
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@(Model.Pager.CurrentPage + 1)">Sig</a>
            </li>
            <li>
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-page="@(Model.Pager.TotalPages)">Última</a>
            </li>
        }
    </ul>
}