@model GrupoDetailsDTO
@{
    ViewData["Title"] = @Model.Nombre;
}
@section Stylesheets {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/dataTables/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/clockpicker/clockpicker.min.css" asp-append-version="true" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-tour/css/bootstrap-tour-standalone.css" />
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-tour/css/bootstrap-tour-standalone.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" asp-append-version="true" />
    </environment>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@Model.Nombre</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Client" asp-controller="Default" asp-action="Index">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="Client" asp-controller="Grupo" asp-action="Index">Grupos</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@Model.Nombre</strong>
            </li>
        </ol>
    </div>
</div>

<!-- Content -->
<div class="wrapper wrapper-content animated fadeIn" style="animation-delay: 0.4s;">
    @if (!Context.Request.Cookies.ContainsKey("TourGDetails"))
    {
        <div id="TourDiv" class="row">
            <div class="col-lg-12">
                <div class="widget blue-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-binoculars fa-4x"></i>
                        <h1 class="m-xs">Recorrido Inicial</h1>
                        <h3 class="font-bold no-margins">
                            Conozca nuestro producto!
                        </h3>
                        <small>Tutorial interactivo</small>
                        <div class=" m-t-sm">
                            <a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Iniciar Recorrido</a>
                        </div>
                        <div class=" m-t-sm">
                            <button class="btn btn-outline-warning" id="HideTour">No volver a mostrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Temporizadores</h3><br>
                    <a asp-area="Client" asp-controller="Grupo" asp-action="Index" class="btn btn-default">Regresar</a>
                    <a asp-area="Client" asp-controller="Grupo" asp-action="DeleteAllTemporizadores" asp-route-GrupoId="@Model.Id" class="btn btn-warning delete-all-temporizadores-button" data-form-id="delete-form">Eliminar Temporizadores</a>
                    <a href="#myModal" data-toggle="modal" data-target="#add-temporizador-modal" class="btn btn-primary" id="btnAddTemporizador">Añadir Temporizador</a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">

                        <div class="form-group row container">
                            <div class="col-sm-4"><input id="filterTemporizador" type="text" placeholder="Buscar" class="form-control"></div>
                        </div>

                        <table id="dataTables-table-temporizador" class="footable table demo table-bordered table-striped table-hover toggle-circle" data-filter="#filterTemporizador" @*data-page-size="2" data-page-previous-text="prev" data-page-next-text="next" *@>
                            <thead>
                                <tr>
                                    <th width="10%" data-toggle="true" data-sort-ignore="true">Acciones</th>
                                    <th width="30%">Nombre</th>
                                    <th width="10"> Estado</th>
                                    <th width="50%" data-hide="all" data-sort-ignore="true">Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (TemporizadorDTO item in Model.Temporizadores)
                                {
                                    <tr class="gradeX">
                                        <td>
                                            <a asp-area="Client" asp-controller="Grupo" asp-action="EditaTemporizador" asp-route-GrupoId="@Model.Id" asp-route-TemporizadorId="@item.Id" class="disabled btn btn-white btn-sm1 tooltip-demo edit-button" data-form-id="edit-form"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                                            <a asp-area="Client" asp-controller="Grupo" asp-action="DeleteTemporizador" asp-route-GrupoId="@Model.Id" asp-route-TemporizadorId="@item.Id" class="btn btn-white btn-sm1 tooltip-demo delete-button" data-form-id="delete-individual-form"><i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a>
                                        </td>
                                        <td>
                                            @item.Nombre
                                        </td>
                                        <td>
                                            <span class="label @item.getEstadoClass label-primary">@item.getEstado</span>
                                        </td>
                                        <td>
                                            @Html.Raw(item.ToString())
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="pagination pagination-centered hide-if-no-paging"></div>
                                        </td>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Anuncios</h3><br>
                    <a asp-area="Client" asp-controller="Grupo" asp-action="Index" class="btn btn-default">Regresar</a>
                    <a asp-area="Client" asp-controller="Grupo" asp-action="DeleteAllAnuncios" asp-route-GrupoId="@Model.Id" class="btn btn-warning delete-all-anuncios-button" data-form-id="delete-form">Eliminar Anuncios</a>
                    <a href="#myModal" data-toggle="modal" data-target="#edit-modal" class="btn btn-primary" id="btnAddAnuncios">Añadir Anuncios</a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">

                        <div class="form-group row container">
                            <div class="col-sm-4"><input id="filterAnuncios" type="text" placeholder="Buscar" class="form-control"></div>
                            <div class="col-sm-4">
                                Total de Anuncios: @Model.Anuncios.Count()
                            </div>
                        </div>

                        <table id="dataTables-table" class="footable table table-striped table-bordered table-hover dataTables-example" data-filter="#filterAnuncios">
                            <thead>
                                <tr>
                                    <th width="10%" data-sort-ignore="true">Acciones</th>
                                    @*<th width="5%">Estado</th>*@
                                    <th width="50%">Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (AnuncioDTO item in Model.Anuncios)
                                {
                                    <tr class="gradeX">
                                        <td>
                                            <a href="@item.Url" target="_blank" class="btn btn-white btn-sm tooltip-demo"><i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="Visitar"></i></a>
                                            <a asp-area="Client" asp-controller="Grupo" asp-action="DeleteAnuncio" asp-route-GrupoId="@Model.Id" asp-route-AnuncioId="@item.Id" class="btn btn-white btn-sm1 tooltip-demo delete-button" data-form-id="delete-individual-form"><i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a>
                                        </td>
                                        @*<td>
                            @if (item.Caducado)
                            {
                                <span class="badge badge-warning">Caducado</span>
                            }
                            else
                            {
                                <span class="badge badge-primary">Activo</span>
                            }
                        </td>*@
                                        <td>
                                            @item.Url
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="delete-form" method="post" role="form"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onAjaxBegin"
      data-ajax-success="onDeleteSuccess"
      data-ajax-failure="onAjaxError"
      data-ajax-complete="onAjaxCompleted"
      data-ajax-update="#body_content"></form>

<form id="delete-individual-form" method="post" role="form"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onAjaxBegin"
      data-ajax-success="onDeleteSuccess"
      data-ajax-failure="onAjaxError"
      data-ajax-complete="onAjaxCompleted"></form>

<!-- modal window -->
<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <form asp-controller="Grupo" asp-action="AddAnuncio" method="post" class="form-horizontal" id="form2" form="form2" role="form"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-begin="onAjaxBegin"
                  data-ajax-failure="onAjaxError"
                  data-ajax-complete="dismiss_modal"
                  data-ajax-success="onAddSuccess"
                  data-ajax-update="#body_content">

                <div class="modal-header">
                    <div>
                        <h3 class="modal-title">Añadir Anuncios</h3>
                        <small>Por favor inserte un enlace por linea</small>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="panel-body">
                    <div class="ibox float-e-margins">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Enlaces</label>
                            <div class="col-sm-9">
                                <textarea id="Descripcion" name="enlaces" type="text" class="form-control" placeholder="" value=""></textarea>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary ladda-button" id="mdlsave" name="mdlsave" data-style="expand-right">Añadir</button>
                    <input type="hidden" value="@Model.Id" name="GrupoId" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal window end -->

@Html.Partial("TemporizadorPartial", new TemporizadorDTO())

@section Scripts {
    @*<partial name="~/Areas/Common/Views/_DataTables.cshtml" />*@
    <partial name="~/Areas/Common/Views/_ClockPicker.cshtml" />
    <environment include="Development">
        <script src="~/js/common/modal.js"></script>
        <script src="~/lib/bootstrap-tour/js/bootstrap-tour-standalone.js"></script>
        <script src="~/lib/footable/footable.all.min.js"></script>
        <script src="~/lib/footable/footable.paginate.min.js"></script>
        <script src="~/js/Client/Grupo/details.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common/modal.min.js" asp-append-version="true"></script>
        <script src="~/js/Client/Grupo/details.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-tour/js/bootstrap-tour-standalone.js" asp-append-version="true"></script>
        <script src="~/lib/footable/footable.all.min.js" asp-append-version="true"></script>
        <script src="~/lib/footable/footable.paginate.min.js" asp-append-version="true"></script>
    </environment>

}