@using Services.DTOs.Admin
@model ClientDetalles

@{
    ViewData["Title"] = "Detalles Cliente";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalles Cliente</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Default" asp-action="Index">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="ClientControl" asp-action="Index">Clientes</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Detalles de perfil</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        @*<img alt="image" class="img-fluid" src="~/Images/profile_big.jpg">*@
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>@Model.UserName</strong></h4>
                        <p><i class="fa fa-envelope"></i> @Model.UserName</p>
                        <p><i class="fa fa-phone"></i> @Model.Phone</p>
                        @*<h5>
                                About me
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-md-4">
                                    <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>169</strong> Posts</h5>
                                </div>
                                <div class="col-md-4">
                                    <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>28</strong> Following</h5>
                                </div>
                                <div class="col-md-4">
                                    <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                    <h5><strong>240</strong> Followers</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h3>Cuenta</h3>
                            </div>
                            <div class="col-4 text-left">
                                <span> Estado </span>
                                <h2 class="font-bold">$ @Model.Cuenta.Saldo</h2>
                            </div>
                            <div class="col-4 text-center">
                                <span>Consumo esperado | Actual</span>
                                <h2 class="font-bold">$ @Model.GastoEsperadoActual</h2>
                            </div>
                            <div class="col-4 text-right">
                                <span>Consumo esperado | Próximo</span>
                                <h2 class="font-bold">$ @Model.GastoEsperadoProximo</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <partial name="~/Areas/Common/Views/_RecargasList.cshtml" for="Recargas" />
        </div>
    </div>
</div>
@section Scripts {
    <environment names="Development">
        <script src="~/lib/peity/jquery.peity.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/peity/jquery.peity.min.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {

            $("span.pie").peity("pie", {
                fill: ['#1ab394', '#d7d7d7', '#ffffff']
            })

            $(".line").peity("line", {
                fill: '#1ab394',
                stroke: '#169c81',
            })

            $(".bar").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"]
            })


        });</script>
}