@model AdminDashboard

@{
    ViewData["Title"] = "Inicio";
    EstadisticaAnual anual = Model.Anual;
}

<div class="wrapper wrapper-content">
    
    <div class="row">
        <div class="row">
            <div class="col-lg-12" id="GraficosEstadisticos">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Resumen Detallado - @anual.Fecha</h5>
                        <div class="float-right">
                            <div class="btn-group estadistica" id="SelectorGraficosEstadisticos">
                                @*<button id="Diario" type="button" class="btn btn-xs btn-white active">Hoy</button>
                                <button id="Semanal" type="button" class="btn btn-xs btn-white">Últimos 7 días</button>
                                <button id="Mensual" type="button" class="btn btn-xs btn-white">Mensual</button>*@
                                <button id="Anual" type="button" class="btn btn-xs btn-white disabled">Anual</button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <span class="float-right text-right">
                                <small>Actualizado: @DateTime.Now.ToDateTimeString()</small>
                                <br>
                                @*All sales: 162,862*@
                            </span>
                            <h1 id="VentaTotalResumen" class="m-b-xs">$ @anual.Venta</h1>
                            @*<h3 class="font-bold no-margins">
                                    Half-year revenue margin
                                </h3>
                                <small>Sales marketing.</small>*@
                        </div>
                        <div>
                            @*<iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>*@
                            <canvas id="lineChart" height="287" style="display: block; width: 989px; height: 230px;" width="1236"></canvas>
                        </div>
                        <div class="m-t-md">
                            @*<small class="float-right">
                                    <i class="fa fa-clock-o"> </i>
                                    Update on 16.07.2015
                                </small>*@
                            @*<small>
                                    <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
                                </small>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/Admin/Default/index.js"></script>
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Admin/Default/index.min.js"></script>
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.min.js"></script>
    </environment>


    <script type="text/javascript">
        $(document).ready(function () {
            InitializeAnual();
        });

        function InitializeAnual() {
            initializeChart(@anual.Venta, @Html.Raw(anual.ToStringLabel()), @anual.ToStringVentas(), @anual.ToStringGastos());
        }
    </script>
}
